.box1{
    border: 2px solid;
    border-radius: 3%;
    height: 350px;
    width: 320px;
    margin: auto;
    background-color: rgb(168, 213, 237);
}
.box2{
    padding: 50px 0;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}
.button1{
    padding: 50px;
    font-size: large;

}